soap/src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="810a323b-f1cf-4031-ac65-f672597e8d33" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="5afc8e5f-808f-461d-953c-02ed7cafe80e" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="soapFlow" doc:id="b326cfde-161f-4218-9068-d7917fc501ac" >
		<http:listener doc:name="Listener" doc:id="33f538a2-9897-4b04-bc64-2c4e2a243e1f" config-ref="HTTP_Listener_config" path="soap"/>
		<set-variable value="#[attributes.queryParams.num1]" doc:name="Set Variable" doc:id="fcbd69d5-a34f-4318-a763-5d7f5b1d2127" variableName="num1"/>
		<set-variable value="#[attributes.queryParams.num2]" doc:name="Set Variable" doc:id="f6988bd0-2fee-4bdb-b8c3-df48aeef2c1a" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="f0d94ffc-e3a3-456d-942d-a21bed07e658" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: vars.num1 as Number,
		ns0#intB: vars.num2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Multiply" doc:name="Consume" doc:id="514cc683-097f-463a-b5a5-aeb30675c8b0" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="a963cead-000b-4560-8c8c-4677c2988245" message="Multiply DONE"/>
	</flow>
</mule>
